<?xml version="1.0" encoding="UTF-8"?>
<!-- SlimUI config file -->
<settings>
	<config>
		<site_identity>SlimUI</site_identity>
		<site_name>SlimUI Help Desk</site_name>					
		<wwwroot>http://www.slim-ui.com/</wwwroot>
		<dc_1></dc_1>
		<dc_2></dc_2>
		<dbserver></dbserver>
		<dbname>SlimUI</dbname>
		<dbuser></dbuser>
		<dbpass></dbpass>
		<ldapauth>true</ldapauth>
		<ldap_dn></ldap_dn>
		<ad_server_address></ad_server_address>
		<auth_user></auth_user>
		<auth_pass></auth_pass>
		<base_dn></base_dn>		
		<tokenstr>mySecretPhrase</tokenstr>
		<lang>ES</lang>
		<theme>default</theme>
		<sys_theme>default</sys_theme>
		<img_dir>content/img/</img_dir>		
		<ldap_mail_dn></ldap_mail_dn>
		<favicon>favicon.ico</favicon>
		<iosicon>iosicon.png</iosicon>
		<start_menu_img>slimui-logo.png</start_menu_img>
		<login_top_image></login_top_image>
		<login_left_image>startup-img.jpg</login_left_image>
		<more_info_link>recovery.php</more_info_link>
		<allow_filters>true</allow_filters>
		<filter_by>user_department</filter_by>
		<filter_type>include</filter_type>
		<elogs>true</elogs>
		<mobile_enabled>true</mobile_enabled>
		<maintenance_mode>false</maintenance_mode>
		<dev_account></dev_account>
		<ajax_cache>false</ajax_cache>
	</config>
	<appsmenu_filters>				
	</appsmenu_filters>
	<cookie>
		<data>userid</data>				
	</cookie>
</settings>