<?xml version="1.0" encoding="UTF-8"?>
<!-- SlimUI config file -->
<settings>
	<config>
		<site_identity>SlimUI</site_identity>
		<site_name>Slim UI</site_name>					
		<wwwroot>http://slim-ui.com/demo/</wwwroot>
		<odbc_dbname></odbc_dbname>
		<dbserver></dbserver>
		<dbname></dbname>
		<dbuser></dbuser>
		<dbpass></dbpass>
		<db_users_table></db_users_table>
		<db_users_field_user></db_users_field_user>
		<db_users_field_pass></db_users_field_pass>
		<db_users_field_display_name></db_users_field_display_name>
		<ldapauth>false</ldapauth>
		<ldap_dn></ldap_dn>
		<ad_server_address></ad_server_address>
		<base_dn></base_dn>		
		<tokenstr>mySecretPhrase</tokenstr>
		<lang>EN</lang>
		<theme>default</theme>
		<sys_theme>default</sys_theme>
		<img_dir>content/img/</img_dir>		
		<ldap_mail_dn></ldap_mail_dn>
		<favicon>favicon.ico</favicon>
		<iosicon>iosicon.png</iosicon>
		<start_menu_img>slimui-logo.png</start_menu_img>
		<login_top_image></login_top_image>
		<login_left_image>startup-img.jpg</login_left_image>
		<more_info_link>system/recovery.html</more_info_link>
		<allow_filters>false</allow_filters>
		<filter_by></filter_by>
		<filter_type>include</filter_type>
		<elogs>true</elogs>
		<mobile_enabled>true</mobile_enabled>
		<maintenance_mode></maintenance_mode>
		<dev_account>demo</dev_account>
		<ajax_cache>false</ajax_cache>
	</config>
	<appsmenu_filters>
		<wb_logs></wb_logs>				
	</appsmenu_filters>
	<cookie>
		<data>userid</data>
		<data>user_displayname</data>		
	</cookie>
</settings>