<?xml version="1.0" encoding="UTF-8"?>
<!-- SlimUI config file -->
<settings>
	<config>
		<version>1.0</version>
		<build>0</build>
		<site_identity></site_identity>
		<site_name></site_name>					
		<wwwroot></wwwroot>				
				
		<!-- Custom db settings -->
		<odbc_dbname></odbc_dbname>	
		<dbserver></dbserver>
		<dbname></dbname>
		<dbuser></dbuser>
		<dbpass></dbpass>
		<db_users_table></db_users_table>
		<db_users_field_uid></db_users_field_uid>
		<db_users_field_username></db_users_field_username>
		<db_users_field_password></db_users_field_password>
		<db_users_field_display_name></db_users_field_display_name>
		<db_users_field_dept></db_users_field_dept>
		<db_users_field_title></db_users_field_title>
		<db_users_field_email></db_users_field_email>		
		
		<!-- LDAP Server settings -->
		<ldapauth></ldapauth>			
		<ldap_dn></ldap_dn>					
		<ad_server_address></ad_server_address>
				
		<!-- Slim-UI settings -->
		<update_server>http://slim-ui.com/updates</update_server>
		<tokenstr></tokenstr>
		<lang></lang>
		<theme></theme>
		<sys_theme></sys_theme>
		<img_dir></img_dir>		
		<favicon></favicon>
		<iosicon></iosicon>
		<start_menu_img></start_menu_img>
		<login_top_image></login_top_image>
		<login_left_image></login_left_image>
		<more_info_link></more_info_link>
		<allow_filters></allow_filters>
		<filter_by></filter_by>
		<filter_type></filter_type>
		<elogs></elogs>
		<mobile_enabled></mobile_enabled>
		<maintenance_mode></maintenance_mode>
		<dev_account></dev_account>
		<ajax_cache></ajax_cache>
   	</config>
   	<appsmenu_filters>			
   	</appsmenu_filters>
   	<cookie>	
   	</cookie>
</settings>