
#file { width:280px; }
#TICKET_INFO { font-size: 90%; }
#DROPTASKS { border-radius:10px; width:273px; min-height:40px; background-color:#E6E6FA; padding:5px; }
#NEWTASK { min-width:295px; padding-left: 25px; }
#NEWPROJECT { min-width:295px; padding-left: 25px; }
#ARROWHOLDER { background-color:#EDEDED; position:absolute; height:99%; width:18px; left:1px; top:1px; cursor:pointer; }
#ARROWHOLDER:hover { background-color:#E4E4E4; }
#WIDGET_ARROW { position:absolute; top:45%; cursor:pointer; }
#WIDGET_ARROW:hover { opacity:0.8; }
#AZ { min-width:inherit; }
#ORDBY { min-width:inherit; }
#ITEMS { min-width:inherit; }
#DEPT { min-width:inherit; }
#SEARCH_DIV { padding:10px; }
#SEARCH_DIV input { width:260px;  text-align:left; }
#TABBT3 { float: right; margin-right: 10px !important; }
#OBJECT_RECEIVERS { 
position: fixed; 
width: 800px; 
height: 90px; 
margin-left:-25px; 
border: 2px #CCC solid; 
border-top: none; 
border-left: none; 
border-right: none; 
top:-92px;
font-size:105%;
display:flex;
}
#OR_DELETE { background-color: #A22A2A; line-height:85px; color:#F09090; width:50%; }
#OR_EXCLUDE { background-color: #3A3A3A; line-height: 85px; color: #A3A3A3; width:50%; display:none; }
#MENU_CONTAINER .INPUT_LABEL { display:inline; }
#CONTAINER .TICKET_CONTAINER:nth-child(even) { background-color:white; background-color: #eee !important; }
#CONTAINER .TICKET_CONTAINER:nth-child(odd) { background-color: #fff !important; }

body { overflow-y:scroll; }
.main { width:100%; min-height: 350px; }
.verify_txtbox { color:#652188; font-weight:bold; width:120; text-align:center; }
.Idlabel {  font-weight:bold; color:#652188;}
.label_gray { color:#3B3B3B; }
.TDEVEN { cursor:pointer; }
.TDODD { cursor:pointer; }
.TRTITLE { }
.TICKET_CONTAINER .TICKET { cursor:pointer; }
.TICKETS_TABLE { border-collapse:collapse; width:100%; font-size: 90%; table-layout:fixed; }
.TICKETS_TABLE .TRTITLE td { font-size:110% !important; padding-top:10px; padding-bottom:10px; }
.TICKETS_TABLE td { padding-left:5px; padding-right:5px; word-wrap: break-word; overflow:hidden; }
.TICKETS_TABLE .TDOPTIONS  { max-width: 300px; }
.TICKETS_TABLE .DIVOPTIONS  { line-height:20px; text-align:center; padding:10px; border:2px #D7D7D7 solid; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top: none; margin-top: -1px; background-color:white; }
.TICKETS_TABLE .TICKETBTN { width:70px; background-color:transparent !important; color:#000 !important; }
.TICKETS_TABLE .TICKETBTN:hover { width:70px; background-color:#eee !important; }
.TICKETS_TABLE .BTR1 { width:100px; max-width:100px; }
.TICKETS_TABLE .BTR2 { width:100px; max-width:100px; }
.TICKETS_TABLE .PRIORITY_TD { width:8px; }
.TICKETS_TABLE .TD1 { width:20px; white-space:nowrap; text-align:center; }
.TICKETS_TABLE .TD2 { width:60px; white-space:nowrap; }
.TICKETS_TABLE .TD3 { width:145px; white-space:nowrap; }
.TICKETS_TABLE .TD4 { width:235px; white-space:nowrap; }
.TICKETS_TABLE .TD5 { width:75px; white-space:nowrap; }
.TICKETS_TABLE .TD6 { width:100px; white-space:nowrap; }
.TICKETDATA { text-align:left; line-height: 25px; }
.TICKETDATA tr { background-color:white !important; }
.TICKETDATA a { color:#000; }
.PROJECT_CONTAINER { border-collapse: collapse; width: 100%; font-size: 85%; table-layout: fixed; border-radius: 10px; border: 1px #BBB solid; margin-top: -1px; border-left: none; border-right: none; border-bottom: none; }
.PROJECT_CONTAINER .TRTITLE { height:45px; cursor: pointer; }
.PROJECT_CONTAINER .TICKET_CONTAINER { font-size:100%; }
.PROJECT_CONTAINER:hover { background-color:#eee; }
.PROJECT_CONTAINER .TDP1 { width:80px; white-space:nowrap; }
.PROJECT_CONTAINER .TDP2 { width:145px; white-space:nowrap; }
.PROJECT_CONTAINER .TDP3 { width:240px; white-space:nowrap; }
.PROJECT_CONTAINER .TDP4 { width:190px; white-space:nowrap; }
.PROJECT_PROGRESS { height: 35px; background-color: #DDD; line-height: 40px; text-align: center; }
.RDIVDATA { text-align:left; }
.RTXTDATA { width:99%; height:100px; margin-top:10px; outline:none; }
.CORNER_TOP { border-top-left-radius: 10px; border-top-right-radius: 10px; margin-bottom:0px !important;  }
.PRIORITY_TD { width:10px; padding:0px !important; border-top-left-radius: 7; border-bottom-left-radius: 7; }

.TABFRAME { border-top:2px #434343 solid; border-top-left-radius: 10px; border-top-right-radius: 10px; padding-top:5px; }
.TABLIST { margin-left: 10px; }
.TABLIST ._INPUT_BUTTON { margin-left:0px !important; margin-right:0px !important; }
.TURN_LEFT { left:0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }
.TURN_RIGHT { left:5px; }
.TASK_MANAGER { vertical-align:top; text-align:center; border-radius:10px; background-color: #E6E6FA; }
.TASK_MANAGER ._FRAME { border-radius: 10px; }
.SEND_TASK { 
vertical-align: top;
position: fixed;
top: 0px;
background-color: #FFF;
border: 1px #BBB solid;
padding: 20px;
margin-left: -74px;
height: 100%;
box-shadow: #000 15px 0px 35px;
right: -343px;
text-align: left;
overflow-y:auto; }
.SEND_TASK .TABLIST { margin-left:0px !important; text-align:center; }
.title { color:#333; font-weight:bold; font-size:100%; }
.title1 { color:#2C2C2C; }
.title2 { color:#fff; font-size:110%; }
.field { width:259px; color:#555;  }
.desc {	 width:275px; height:70px; color:#808080; resize:none; }
.verify_txtbox { font-weight:bold; width:120; text-align:center; }
.Idlabel {  font-weight:bold; color:#652188;}
.label_gray { color:#3B3B3B; }
.ui-widget-header { background-color:#555 !important; border:none !important; }
.DIV_INVITADO {
padding: 4px;
border: 1px #DFC679 solid;
background-color: white;
padding-left: 30px;
width: 243px;
margin: 2px;
font-size: 12px;
color: #555;
line-height:normal;
background-image:url('../../../content/themes/default/icons/usr.png');
background-repeat: no-repeat;
background-position-x: 8px;
background-position-y: 4px;
}
.LABEL_ELIMINAR { float: right; margin-right: 5px; font-size: 100%; margin-top: -1px; font-weight: bold; color: #CEAF0D; cursor:pointer; }
.LABEL_ELIMINAR:hover { color:#000; }
.TASKHOLDER { width: 100%; height: 40px; background-color: #FFF; border: #CCC 1px solid; margin: -1px; position:relative; z-index:1; }
.TASKHOLDER table { width:100%; }
.TASKHOLDER td { height: 34px; font-size: 85%; padding-left: 10px; }
.TASKHOLDER input { float:right; margin:inherit !important; }
.DROPLABEL { position: absolute; line-height: 40px; margin-left: 65px; color: #999; min-width:150px; }
.TICKETS_TABLE tr { z-index:2; }
.FORM_BUTTONS { float:right; margin-right:10px; }