
#AZ { min-width:inherit; }
#ITEMS { min-width:inherit; }
#SEARCH_DIV { padding:10px; }
#SEARCH_DIV input { width:50%; margin-left:10px; text-align:left; }

body { overflow-y:scroll; }
.main { width:100%; }
.SEARCH_TICKET { background-color:#652188; width:30%; text-align:center; height:330px; border-radius: 10px; }
.SEND_TICKET { width:50%; padding-left:45px; }
.title { color:#333; font-weight:bold; font-size:100%; }
.title1 { color:#2C2C2C; }
.title2 { color:#fff; font-size:110%; }
.field { width:280; color:#555;  }
.desc {	 width:280px; height:170px; color:#808080; resize:none;}
.verify_txtbox { color:#652188; font-weight:bold; width:120; text-align:center; }
.Idlabel {  font-weight:bold; color:#652188;}
.label_gray { color:#3B3B3B; }
.TICKETS_TABLE { border-collapse:collapse; font-size:85%; width:100%; }
.TICKETS_TABLE .TRTITLE td { font-size:110% !important; padding-top:10px; padding-bottom:10px; }
.TICKETS_TABLE td { padding-left:5px; padding-right:5px; word-wrap: break-word; overflow:hidden; }
.TICKETS_TABLE .TDOPTIONS  { max-width: 340px; }
.TICKETS_TABLE .DIVOPTIONS  { line-height:20px; text-align:center; padding:10px; border:2px #D7D7D7 solid; border-bottom-left-radius: 10px; border-bottom-right-radius: 10; border-top: none; margin-top: -1px; }
.TICKETS_TABLE .TDODD { background-color: #EBEBEB; }
.TICKETS_TABLE .TICKETBTN { width:70px; }
.TICKETS_TABLE .BTR1 { width:100px; }
.TICKETS_TABLE .BTR2 { width:100px; }
.TICKETS_TABLE .TD1 { max-width:20px; white-space:nowrap; text-align:center; }
.TICKETS_TABLE .TD2 { max-width:60px; white-space:nowrap; }
.TICKETS_TABLE .TD3 { max-width:200px; white-space:nowrap; }
.TICKETS_TABLE .TD4 { max-width:210px; white-space:nowrap; }
.TICKETS_TABLE .TD5 { max-width:50px; white-space:nowrap; }
.TICKETS_TABLE .TD6 { max-width:110px; white-space:nowrap; }
.TICKETDATA { text-align:left; line-height: 25px; }
.RDIVDATA { text-align:left; }
.RTXTDATA { width:100%; height:100px; margin-top:10px; outline:none; }
.CORNER_TOP { border-top-left-radius: 10px; border-top-right-radius: 10px; margin-bottom:0px !important;  }
.PRIORITY_TD { width:10px; padding:0px !important; border-top-left-radius: 7; border-bottom-left-radius: 7; }
#MENU_CONTAINER .INPUT_LABEL { display:inline; }

.TABFRAME { border-top:2px #434343 solid; border-top-left-radius: 10px; border-top-right-radius: 10px; padding-top:5px; }
.TABLIST { margin-left: 10px; }
.TABLIST ._INPUT_BUTTON { margin-left:0px !important; margin-right:0px !important; }
.SELECTED { background-color:#474747 !important; }