body { text-align:center; margin:0;}
body,div,span,table,input,textarea { font-family:"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif"; font-size:1em; }
hr { border:thin; border-style:solid; border-width:1px; border-color:#CDCDCD; }
label { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}

.ICON_RIGHT {  background-position-x: 100%; background-repeat: no-repeat; background-position-y: 50%; background-position: 100%; }
.ICON_LEFT { background-size:30px; background-repeat: no-repeat; background-position: left, center, center; }
.SEPARATOR { border-left:1px solid white; display:inline-block; height:20px; position:relative; float:left; margin:0; top:10px; visibility:visible; opacity:.65; }

._MENU { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
._MENU .MENU_LIST { border:2px solid; border-color:#444; position:absolute; background-color:white; display:none; margin-top:10px; margin-left:-15px; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; z-index:2; }
._MENU .MENU_LIST:hover { z-index: 2; }
._MENU .MENU_LIST ._INPUT_BUTTON { padding-left:30px; min-width:100px; height:inherit; display:list-item; list-style-type:none; margin:0px; list-style:'none'; background-color:white; color:black; text-align:left; }
._MENU .MENU_LIST ._INPUT_BUTTON:hover { background-color:#EAEAEA; border-bottom: 2px solid transparent; }
._MENU .MENU_LIST hr { margin:0px; }
._MENU .MENU_LIST_TITLE { position: absolute; height:18px; background-color: white; color: black; top: -40px; padding: 10px 15px 10px 15px; border: 2px solid #444; left: -2px; border-bottom: none; font-weight: bold; overflow: hidden; max-width: 115px; text-overflow: ellipsis;  white-space: nowrap; }

._CONTEXT_MENU { display:inline-block; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
._CONTEXT_MENU img { height: 18px; position: absolute; margin-left: -4px; margin-top: 5px; opacity: 0.8; display:none; margin-right: -5px; }
._CONTEXT_MENU img:hover { opacity:0.5; }
._CONTEXT_MENU .MENU_LIST { border:2px solid; border-top:none; border-color:#8D8D8D; position:absolute; background-color:white; display:none; margin-top:3px; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
._CONTEXT_MENU .MENU_LIST:hover { z-index: 1; }
._CONTEXT_MENU .MENU_LIST ._INPUT_BUTTON { min-width:100px; line-height:25px; display:list-item; list-style-type:none; margin:0px; list-style:'none'; background-color:white; color:black; text-align:left; }
._CONTEXT_MENU .MENU_LIST ._INPUT_BUTTON:hover { background-color:#EAEAEA; border-bottom: 2px solid transparent; }
._CONTEXT_MENU .MENU_LIST .MENU_LIST { left:100%; margin-right:-500px; border:2px solid; border-color:#8D8D8D; position:absolute; background-color:white; display:none; margin-top:-25px; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
._CONTEXT_MENU hr { margin:0px; }
._CONTEXT_MENU:hover img { display:inherit; }

.FRAME { }
._FRAME { background-color:white; color:black; padding:20px; border:2px solid; border-top:none; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; border-color:#CFCFCF; text-align:left; vertical-align:middle; overflow:hidden; }
._FRAME ._FRAME { border:1px solid; border-left:none; border-right:none; border-top:none; border-color:#CFCFCF; }
._FRAME .DIV_WIDGET { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
._FRAME .CONTENT_TITLE { float:left; margin-top:-25px; font-size:120%; }

.DIV_CONTENT_SCROLL { overflow:hidden; width:100%; height:100%; overflow:auto\0/IE8+9; }

.WIDGET_CONTAINER { position:absolute; width:100%; background-color:rgba(34, 34, 34, 0.95); text-align:left; display:none; z-index:1; border-bottom: 1px solid #424242; }
.DIV_WIDGET { color:#FFFFFF; text-align:left; vertical-align:middle; }
.DIV_WIDGET .RADIO:hover { color:#000000; }
.DIV_WIDGET .CHECKBOX:hover { color:#000000; }

.VSCROLL { float:right; background-color:#EEEEEE; width: 15px; height: 100%; z-index:1; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.VSCROLL:active .VBAR {  background-color:#8D8D8D;  }
.VBAR { top:0; width: 100%; background-color:#C5C5C5; height: 20px; }
.VBAR:active { background-color:#8D8D8D; }

.BLOCK_SCREEN { z-index:1; background-color:rgba(0, 0, 0, 0.5); position:absolute; top:0px; left:0px; width:100%; height:100% !important; display:table; }
.MSG_WINDOW_CONTAINER { display:table-cell; vertical-align:middle; }
.MSG_WINDOW { font-size:95%; width:100%; padding-top: 20px; padding-bottom: 20px; color:#FFFFFF; border:2px solid; border-color:rgb(129, 129, 129); border-left:none; border-right:none; }

.SLIMWIZ { font-size:90%; border-bottom-left-radius:10px; color:black; border-top: 11px solid transparent; border-left: 24px solid white; text-align:left; position:absolute; max-width:300px; background-color:transparent; display:none; z-index:1; }
.SLIMWIZ .WIZ_CONTENT { border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; background-color:white; padding:25px; margin-left:-24px; border-bottom:2px solid #ccc; border-right:2px solid #ccc; }
.SLIMWIZ label { cursor:pointer; color:#236F9C; } 

/*** CONTROLES ***/

.INPUT_LABEL { width:145px; display:inline-table; margin-left:10px; }
.INPUT_LABEL_M { width:125px; display:inline-table; margin-left:10px; }
.INPUT_LABEL_S { width:100px; display:inline-table; margin-left:10px; }

._INPUT_TEXT { height: 27px; border: 2px solid; border-color: #CFCFCF; background-color: white; margin-top: 5px; margin-bottom: 5px; display: inline-block; text-align: left; }
._INPUT_TEXT input { border:none; height:25px; outline-width:0; color:#515151; background-color:transparent; padding-left:10px; padding-right:10px; }
._INPUT_TEXT:hover { border-color:#585676; }
._INPUT_TEXT input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

._COMBO_BOX { padding-left:5px; padding-right:5px; color:#515151; min-width: 165px; height: 31px; border: 2px solid; border-color: #CFCFCF; margin-top: 5px; margin-bottom: 5px; display: inline-block; margin-left:0px; margin-right: 4px; -webkit-user-select: none; -ms-user-select: none; outline: 0; }
._COMBO_BOX:hover { border-color:#585676; }

._CHECKBOX { min-width:20px; padding:3px 9px 3px 3px; display:inline-block; *display: inline; text-align:center; }
._CHECKBOX label { cursor: pointer; float:right; margin-left:5px; margin-top:1px; }
._CHECKBOX input[type=checkbox] { background-color:white; background-image:url('../../content/img/checked.png'); background-size:0%; float:left; height:15px; width:15px; border:1px #B3B3B3 solid; -webkit-appearance:none; -webkit-border-radius:0px; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; outline-width:0; cursor:pointer; background-repeat: no-repeat; background-position: center; }
._CHECKBOX input[type=checkbox]:active { background-color:#ccc; }
._CHECKBOX input[type=checkbox]:checked { background-size:100%; }
._CHECKBOX:hover { background-color:#EBEBEB; cursor:pointer; }

._TEXT_AREA { min-height:28px; border:2px solid; border-color:#CFCFCF; margin-top:5px; margin-bottom:5px; display:inline-block;  *display: inline; text-align:left; vertical-align:top; color:#515151; -webkit-user-select: none; -ms-user-select: none; outline: 0; }
._TEXT_AREA textarea { resize:none; overflow:auto; border:none; min-height:60px; outline-width:0; color:#515151; }
._TEXT_AREA select { resize:none; overflow:auto; border:none; width:100%; min-height:60px; outline-width:0; color:#515151; }
._TEXT_AREA:hover { border-color:#585676; }

._INPUT_BUTTON { height: 30px; padding: 0px 15px 1px; margin: 5px; display: inline-block; text-align: center; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; outline: 0; border: none; border-bottom: 2px solid transparent; border-top: 2px solid transparent; }
._INPUT_BUTTON:hover { cursor:pointer; border-bottom: 2px solid #ccc; }
._INPUT_BUTTON:active { cursor:pointer; }

._WIDGET_BUTTON { font-size:100%; border:2px solid; border-color:transparent; color:white !important; width:100px; height:100px; color:#FFFFFF; margin:5px; float:none; display:inline-block;  *display: inline; text-align:left; background-repeat: no-repeat; background-position-x: 50%; background-position-y: 40%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; background-position: center 40%, center 10%; }
._WIDGET_BUTTON:hover { cursor:pointer; border-color:#DFDFDF; }
._WIDGET_BUTTON:active { cursor:pointer; }
._WIDGET_BUTTON label { position:relative; margin-left:10px; top:53px; font-size:75%; cursor:pointer; }

._RADIO { min-width:20px; padding:5px; margin-top:5px; margin-bottom:5px; display:inline-block; *display: inline; text-align:center; }
._RADIO label { cursor:pointer; margin-left:5px; margin-top:-2px; }
._RADIO input { outline-width:0; color:#515151; cursor:pointer; }
._RADIO:hover { background-color:#EBEBEB; cursor:pointer; }

._LINK { background-color:#73239C;height:23px; padding: 6px 15px 1px; color: #FFFFFF; margin: 5px; display: inline-block;}
._LINK:hover { background-color:#7734A9; cursor:pointer; }
._LINK:active { background-color:#7C5AAB; cursor:pointer; }

._COLOR_PICKER { display:inline-table; width:215px; }
.COLOR_BOX { width:20px; height:20px; display:inline-block; margin-right:3px; margin-right:0px \9; cursor:pointer; }
.COLOR_SELECTED { border: 2px solid #fff; height: 16px !important; width: 16px !important; border-radius: 10px; }
.DATEPICKER < ._INPUT_TEXT { width:75px !important; min-width:inherit !important; }

.TASKWIDGET { position:absolute; background-color:white; border:#A5A5A5 1px solid; box-shadow:rgba(34, 34, 34, 0.5) 0px 0px 10px;  }
.METAEDITABLE { cursor:pointer; }
.METAEDITABLE:hover { color:#3D76BC; }
.MISSED { -webkit-user-select: none; -ms-user-select: none; outline: 0; }

/** Firefox **/

@-moz-document url-prefix(){ 
  .DIV_CONTENT_SCROLL { overflow:auto; width:100%; height:100%; } 
  .COLOR_BOX { margin-right:0px; }
}