a:link { text-decoration:none; color:white; }
a:visited { text-decoration:none; color:white; }
a:active { text-decoration:none; color:white; }
body { 
     text-align:center; 
     margin:0;
     background-color:#F1F1F1;        
}
body,div,span,table,input,textarea { font-family:"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif"; font-size:1em; }
label { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
._ABOUT { font-weight: normal; font-style: normal; text-decoration: none; font-size: 11pt; }

#form1 { margin-top:5%; }
#form1 ._LOGINFRAME { border: 2px solid #CFCFCF; border-radius: 10px; }
#PROGRESS { position:absolute; width:100%; height:25px; background-position: center; background-size:105px; background-repeat: no-repeat; display:none; background-image:url("http://www.ahm-honduras.com/brainstorm/apps/prueba/img/progress.gif"); }
#MENU-TOP { position:fixed; width:100%; height:45px; font-size:80%; overflow: hidden; border-bottom: 2px solid #CFCFCF; }
#MENU-LEFT { float:left; min-height:100px; min-width:230px; max-width:300px; background-color:#F1F1F1; padding:5px; }
.MENU-WIDGET { background-color:transparent; border:none; padding-bottom: 10px; padding-right: 0px; width:100%; }
.MENU-WIDGET ._INPUT_BUTTON { display:list-item; list-style-type:none; margin:0px; margin-left: 10px; padding:0px; text-align: left; background-color: transparent; }
.MENU-WIDGET ._INPUT_BUTTON:hover { border:none; display:list-item; margin:0px; margin-left: 10px; padding:0px; text-align: left; background-color: transparent; }
.MENU-ITEM-SELECTED { width: 100%; background-color: #FFF !important; padding-left: 10px !important;  margin-left: -13px !important; height: 35px; }
 

#MAIN_MENU { font-size:100%; background-color:transparent; padding:25px; opacity:0; margin-left:-25px; }
#MAIN_MENU .INPUT_MENU { background-color:transparent; padding-top:5px; }
#MAIN_MENU .INPUT_MENU ._INPUT_BUTTON { padding-top:7px; height:27px; }
#MAIN_MENU .INPUT_MENU:hover { color:rgb(181, 174, 206); }
#MAIN_MENU #WM_LOGO_DROPMENU { display:none; }
#MAIN_MENU .SEPARATOR { display:none; margin-left:5px; }
#WIDGET_MENU { top:0px; z-index:2; }
#MENU_CONTAINER { min-height:41px;  }
#SESSION_OFF:hover { color:white; }

.BODY_CONTAINER { font-size:90%; width:750px; display:inline-table; }
#MAIN_PANE { width:100%; text-align:left; }
.MAIN_PANE_CONTAINER { padding-right:20px; }
#FOOTER { width:100%; min-height:150px; margin-top:15px; }

.IMG_LOGO { float:left; height:41px; cursor:pointer; }
.IMG_LOGO:hover { opacity:0.7; }
.IMG_LOGO_SELECTOR { float:left; height:41px; cursor:pointer; }
.IMG_LOGO_SELECTOR:hover { opacity:0.5; }
.USER_PROFILE { float:right; display:none; }
.USER_PROFILE a { cursor:pointer; float:right; }
.USER_PROFILE .SEPARATOR { margin-left: 10px !important; margin-right: 10px; height: 35px; margin-top: -7px; opacity:0.5; float:right; }
.USER_PROFILE div { float:right; }
.USER_PROFILE_IMG { height:38px; float:right; }

.UI_CONTENT_TEXT { padding:0px 10px 0px; text-align:justify; }
.INPUT_LABEL { width:150px; display:inline-block; }
.CODE { padding:10px; background-color: rgba(158, 18, 252, 0.05); color: rgb(0, 87, 79); }
.E404 { font-weight: normal; font-style: normal; text-decoration: none; font-size: 36pt; color:#bbb; float:left; margin-right:20px; margin-top: 27px; }
.P_CONTENT { background-color: rgb(233, 233, 233); padding: 16px; color: rgb(65, 65, 65); font-size: 100%; border-bottom-right-radius: 40px; border-top-right-radius: 40px; }
.FULL_WIDTH { width:100% !important; }
.INNER_CONTAINER { padding-top:45px; }
.TICKETS_TABLE { font-size:100% !important; }